@page {
    size: A4 portrait;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

@page :left {
    margin-left: 0.5cm;
}

@page :right {
    margin-left: 0.5cm;
}

@page :first {

}

code {
    display: block;
    word-break: normal;
    word-wrap: break-word;
    font-size: 0.8em;
    margin-left: -4cm;
}

code span {
    word-break: normal !important;
    word-wrap: break-word !important;
}

p {
    text-align: justify;
}

h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

ul, ol, a, span, div, h1, h2, h3, h4, h5 {
    text-align: center;
}

table, figure {
    page-break-inside: avoid;
}

footer {
    border-top: solid 3px lightgray !important;
    font-size: 0.8em;
    line-height: 0.2cm;
    margin-bottom: 0;
}

footer * {
    text-align: left;
}

.modal-content strong, .modal-content h4, .modal-content address {
    margin-bottom: 2cm;
}

.pull-header-on-top-on-print {
    padding-top: 100px;
    text-align: center;
}

.pull-header-on-top-on-print h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 3em;
}

.no-print, .parallax-container, .custom-link {
    display: none;
}

.active {
    background-color: lightgray;
    color: black;
    -webkit-print-color-adjust: exact;
}

.footer-copyright div p {
    color: lightgray !important;
    -webkit-print-color-adjust: exact;
}