@keyframes animation {
    0% {
        transform: rotateX(0deg);
        transform-origin: 50% 50% 0;
    }
    100% {
        transform: rotateX(360deg);
        transform-origin: 50% 50% 0;
    }
}

@-webkit-keyframes animation {
    0% {
        -webkit-transform: rotateX(0deg);
        -webkit-transform-origin: 50% 50% 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        -webkit-transform-origin: 50% 50% 0;
    }
}

@-moz-keyframes animation {
    0% {
        -moz-transform: rotateX(0deg);
        -moz-transform-origin: 50% 50% 0;
    }
    100% {
        -moz-transform: rotateX(360deg);
        -moz-transform-origin: 50% 50% 0;
    }
}

@-ms-keyframes animation {
    0% {
        -ms-transform: rotateX(0deg);
        -ms-transform-origin: 50% 50% 0;
    }
    100% {
        -ms-transform: rotateX(360deg);
        -ms-transform-origin: 50% 50% 0;
    }
}

@-o-keyframes animation {
    0% {
        -o-transform: rotateX(0deg);
        -o-transform-origin: 50% 50% 0;
    }
    100% {
        -o-transform: rotateX(360deg);
        -o-transform-origin: 50% 50% 0;
    }
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
}

p {
    text-align: justify;
    word-break: normal;
    word-wrap: break-word;
}

footer {
    margin-bottom: 0;
}

main {
    margin-bottom: 15px !important;
}

em {
    font-weight: bolder;
    font-style: normal;
    font-size: 1.2em;
}

#navbar, #navbar ul, footer, .btn, .waves-effect.waves-brown .waves-ripple {
    background-color: #785115;
}

.btn:hover {
    background-color: #996d15;
}

#navbar .responsive-nav-toggle {
    display: none;
}

ul.li-enum-no-nums, ol.li-enum-no-nums {
    padding: 30px;
    list-style: square;
}

ul.li-enum-no-nums li, ol.li-enum-no-nums li {
    list-style: square;
}

#imprintModal strong {
    margin-bottom: 10px;
}

#imprintModal address {
    margin-bottom: 20px;
}

#navbar ul {
    list-style: none;
    display: inline-block;
    width: 100%;
}

#navbar a:hover, .active a {
    color: lightgray !important;
}

#navbar a:active {
    color: black;
}

.navbar-fixed {
    position: fixed;
    top: 0;
}

a.custom-link {
    padding: 10px;
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

a.custom-link:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;

    text-shadow: 0 0 5px #4248b0, 0 0 10px #4294ff,
    0 0 20px #7297ff, 0 0 30px #7eb9c7,
    0 0 40px #A5F1FF;
}

a.custom-text-link {
    color: #9b9b9b;
}

a.custom-text-link:hover {
    cursor: pointer;
    color: white;

    text-shadow: 0 0 5px #b0361f, 0 0 10px #ff2120,
    0 0 20px #ff4848, 0 0 30px #c76a6c,
    0 0 40px #ffa4b0;
}

.parallax img {
    display: block;
    transform: translate3d(-50%, 508px, 0px);
}

.parallax-title-container {
    position: relative;
}

.parallax-title {
    width: 50%;
    height: 50%;
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.sr-only {
    display: none;
}

.section {
    min-height: 500px;
}

.pull-header-on-top-on-medium-and-small, .pull-header-on-top-on-small, .pull-header-on-top-on-medium {
    position: relative;
}

img.materialboxed:hover {
    cursor: zoom-in;
}

@media screen and (max-width: 682px) {
    h1, h2, h3, h4, h5 {
        word-break: normal;
        word-wrap: break-word;
        text-align: center;
    }

    #navbar {
        height: auto;
        text-align: right;
    }

    #navbar ul {
        text-align: center;
    }

    #navbar li, #navbar li a {
        width: 100%;
    }

    #navbar .responsive-nav-toggle {
        display: inline-block;
        margin-right: 10px;
        padding: 10px;
        vertical-align: middle;
    }

    .responsive-nav-toggle > span {
        border-left: 40px solid white;
        border-top: 5px solid white;
        border-bottom: none;
        border-right: none;
        display: block;
    }

    .responsive-nav-toggle span:first-child {
        margin-bottom: 20%;
    }

    .responsive-nav-toggle span:last-child {
        margin-top: 20%;
    }

    #navbar .responsive-nav-toggle:hover {
        cursor: pointer;

        animation: animation 1s;
        -webkit-animation: animation 1s;
        -moz-animation: animation 1s;
        -ms-animation: animation 1s;
        -o-animation: animation 1s;
    }

    .pull-header-on-top-on-small {
        background-color: blue;
        padding-top: 100px;
    }

    .pull-header-on-top-on-small h2 {
        position: absolute;
        top: 0;
        font-size: 3em;
        left: 20px;
    }
}

@media screen and (min-width: 682px) and (max-width: 993px) {
    .pull-header-on-top-on-medium {
        background-color: #33ff10;
        padding-top: 100px;
    }

    .pull-header-on-top-on-medium h2 {
        position: absolute;
        top: 0;
        font-size: 3em;
        left: 20px;
    }
}

@media screen and (max-width: 993px) {
    footer * {
        text-align: left;
    }

    footer .row:first-child > section:first-child {
        margin-bottom: 35px;
    }

    .pull-header-on-top-on-medium-and-small {
        padding-top: 100px;
    }

    .pull-header-on-top-on-medium-and-small h3 {
        position: absolute;
        top: 0;
        font-size: 3em;
        left: 20px;
    }
}